<!-- Create Coupon Table start -->
<div class="page-body">
    <div class="title-header">
        <h5>[[${content.objs.shopVouchers.id < 0 ? "Thêm" : "Sửa"}]] Voucher</h5>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" id="voucher_id" th:if="${content.objs.shopVouchers.id > 0}" th:value="${content.objs.shopVouchers.id}">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-home"
                                            type="button">General</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-profile-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-profile"
                                            type="button">Restriction</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-usage-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-usage" type="button">Usage</button>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                        <div class="theme-form theme-form-2 mega-form">
                                            <div class="card-header-1">
                                                <h5>Thông tin</h5>
                                            </div>
                                            <input type="hidden" id="voucher_id" th:if="${content.objs.shopVouchers.id > 0}" th:value="${content.objs.shopVouchers.id}">
                                            <div class="row">
                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="form-label-title col-lg-2 col-md-3 mb-0">Mã Voucher</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${content.objs.shopVouchers.voucher_code}" placeholder="Mã voucher" class="form-control" type="text" id="voucher_code">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Tên
                                                        Voucher</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${content.objs.shopVouchers.voucher_name}" placeholder="Tên voucher" class="form-control" type="text" id="voucher_name">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <div class="row">
                                                        <label class="form-label-title col-sm-2 mb-0">Mô tả</label>
                                                        <div class="col-sm-10">
                                                            <div id="editor">[(${content.objs.shopVouchers.description})]</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Số lượng Voucher</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${content.objs.shopVouchers.max_uses}" class="form-control" type="number" id="max_uses">
                                                    </div>
                                                </div>
                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Giá bán</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${content.objs.shopVouchers.price}" class="form-control" type="number" id="price">
                                                    </div>
                                                </div>
                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Giảm cho đơn hàng có giá trị từ</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${content.objs.shopVouchers.min_pro}" class="form-control" type="number" id="min_pro">
                                                    </div>
                                                </div>
                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Giảm tối đa(đồng)</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${content.objs.shopVouchers.max_disa}" class="form-control" type="number" id="max_disa">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Giới hạn sử dụng /người dùng</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${content.objs.shopVouchers.max_uses_user}"  class="form-control" type="number" id="max_uses_user">
                                                    </div>
                                                </div>
                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Ngày bắt đầu
                                                        </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${#strings.arraySplit(content.objs.shopVouchers.start_date, ' ')[0]}" class="form-control" type="date" id="start_date">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row walign-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Ngày kết thúc
                                                        </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${#strings.arraySplit(content.objs.shopVouchers.end_date, ' ')[0]}" class="form-control" type="date" id="end_date">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-sm-2 col-form-label form-label-title">Loại giảm giá
                                                        </label>
                                                    <div class="col-sm-10">
                                                        <select class="js-example-basic-single"
                                                            name="state" id="is_fixed">
                                                            <option disabled>--Select--</option>
                                                            <option th:selected="${!content.objs.shopVouchers.is_fixed}" value="0">Giảm theo phần trăm</option>
                                                            <option th:selected="${content.objs.shopVouchers.is_fixed}" value="1">Giảm với số tiền cụ thể</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label 
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Giá trị muốn giảm</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input th:value="${content.objs.shopVouchers.discount_amount}" class="form-control" type="number" id="discount_amount">
                                                    </div>
                                                </div>
                                                <button class="button-custom" th:if="${content.objs.shopVouchers.id < 0}" onclick="addVoucher()">Thêm Voucher</button>
                                                <button class="button-custom" th:if="${content.objs.shopVouchers.id > 0}" onclick="editVoucher()">Sửa Voucher</button>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel">
                                        <form class="theme-form theme-form-2 mega-form">
                                            <div class="card-header-1">
                                                <h5>Restriction</h5>
                                            </div>

                                            <div class="row">
                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="form-label-title col-lg-2 col-md-3 mb-0">Products</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-sm-2 col-form-label form-label-title">Category</label>
                                                    <div class="col-sm-10">
                                                        <select class="js-example-basic-single"
                                                            name="state">
                                                            <option disabled>--Select--</option>
                                                            <option>Electronics</option>
                                                            <option>Clothes</option>
                                                            <option>Shoes</option>
                                                            <option>Digital</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Minimum
                                                        Spend</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="number">
                                                    </div>
                                                </div>

                                                <div class="row align-items-center">
                                                    <label
                                                        class="col-lg-2 col-md-3 col-form-label form-label-title">Maximum
                                                        Spend</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="number">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="tab-pane fade" id="pills-usage" role="tabpanel">
                                        <form class="theme-form theme-form-2 mega-form">
                                            <div class="card-header-1">
                                                <h5>Usage Limits</h5>
                                            </div>

                                            <div class="row">
                                                <div class="mb-4 row align-items-center">
                                                    <label
                                                        class="form-label-title col-lg-2 col-md-3 mb-0">Per
                                                        Limited</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="number">
                                                    </div>
                                                </div>

                                                <div class="row align-items-center">
                                                    <label
                                                        class="form-label-title col-lg-2 col-md-3 mb-0">Per
                                                        Customer</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="number">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Create Coupon Table End -->