<!-- head block -->
<div th:replace="./admin/blocks/head"></div>

<!-- Sidebar menu -->
<div th:replace="./admin/blocks/bodystart"></div>

        <!-- Header -->
        <div th:replace="./admin/blocks/header"></div>
        
            <!-- Sidebar -->
            <div th:replace="./admin/blocks/sidebar"></div>

            <!-- main block -->
            <div th:replace="${'./' + content.view}"></div>

    <!-- modal -->
    <div th:replace="./admin/blocks/modal"></div>

<!-- foot -->
<div th:replace="./admin/blocks/foot"></div>