<!-- Container-fluid starts-->
<div class="page-body">
    <div class="title-header title-header-1">
        <h5>Tất cả người dùng</h5>
        <a href="/admin-panel/add/users" class="align-items-center btn btn-theme" style="color: #fff;">
            <i data-feather="plus-square"></i>Thêm mới
        </a>
    </div>
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="table-responsive table-desi">
                                <table class="user-table table table-striped">
                                    <thead>
                                        <tr>         
                                            <th>Tài khoản</th>
                                            <th>Họ và tên</th>
                                            <th>SĐT</th>
                                            <th>Email</th>
                                            <th>Ngày ĐK</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody class="user_list">    
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-box">
                        <nav class="ms-auto me-auto " aria-label="...">
                            <ul class="pagination pagination-primary">
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All User Table Ends-->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0"></p>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
</div>
<!-- Container-fluid end -->