<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>KShop - Mua hàng online giá tốt, hàng chuẩn, ship nhanh</title>

    <meta name="keywords" content="KShop - Mua hàng online giá tốt, hàng chuẩn, ship nhanh ">
    <meta name="description" content="KShop - Mua hàng online giá tốt, hàng chuẩn, ship nhanh.">
    <meta name="author" content="kodoku">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/Untitled.png">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <!-- Plugins CSS -->
    <!-- <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.min.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" th:href="${content.mainCss}">

    <link rel="stylesheet" type="text/css" th:each="cssLink : ${content.cssList}" th:href="${cssLink}">


</head>

<body class="home">
    <div class="page-wrapper">